// define colors for reuse
$color-yellow: #ffd000;
$color-dark-yellow: #f2c116;

$color-white: #fff;
$color-white-opacity: rgba(255, 255, 255, .33);

$color-black: #000;
$color-black-opacity: rgba(0, 0, 0, .5);

$color-blue-gray: #515e73;
$color-light-blue: #00ccff;
$color-dark-blue: #035569;

$color-gray: #eeeeee;