.pages {
    &__home {
        &--lead {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            line-height: 1.5;
            margin: 0 auto;
            .elevator {
                flex: 2 1;
            }
            .profile-section {
                flex: 1 1;
                align-items: center;
                flex-direction: column;
                background: radial-gradient(circle at 20% 20%,lightblue 25%,#4640ff 100%);
                box-shadow: 0.5rem 1.25rem 1.75rem 0 rgba(100,110,140,.4);
                color: hsla(0,0%,100%,.9);
                text-align: center;
                margin: 2rem 0;
                padding: 1.5rem;
                border-radius: 10px;
                p {
                    font-size: 1.15rem;
                }
            }
        }
    }
}